<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
      <mat-card class="login-card">
          <mat-card-header>
            <mat-card-title>Search for the Room</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <form>
              <div class="row" style="padding-left: 18px;">
                <div class="col-md-4">
                    <mat-form-field style="width: 100%" >
                        <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker" name="selectedDate" [(ngModel)]="selectedDate" placeholder="Choose a date">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field style="width: 100%">
                      <input type="number" matInput placeholder="No of required seats" name="queriedSeats" [(ngModel)]="queriedSeats">
                    </mat-form-field>
                </div>
                <div class="col-md-4" style="text-align: center">
                    <button mat-raised-button (click)="searchForData()">Search</button>
                    &nbsp;&nbsp;
                    <button mat-raised-button (click)="myBooking()">My Bookings</button>
                </div>
              </div>
            </form>
          </mat-card-content>
        </mat-card>
  </div>
  <div class="col-md-1"></div>
</div>

<br>
<br>


  <div class="row" >
      <div class="col-md-3" *ngFor="let seat of numberOfSeats">
          
            <mat-card class="example-card">
              <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>{{seat.roomId}}</mat-card-title>
                <mat-card-subtitle>Seats Available : {{seat.availableSeats}}</mat-card-subtitle>
              </mat-card-header>
              <img mat-card-image src="{{shared.imageEnum[seat.imageId]}}" alt="Photo of a Shiba Inu">
              <mat-card-content>
                
              </mat-card-content>
              <mat-card-actions style="text-align: center">
                <button mat-raised-button color="primary" (click)="bookTheRoom(seat)">Book</button>
              </mat-card-actions>
            </mat-card>
          
      </div>
  </div>
